*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem #6e94ce;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: #090d16;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}
